<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.product.mapper.BringTakeInfoMapper">

	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<select id="getAllBringTakeInfoPeople" resultType="BringTakeInfo">
		select * from bringtakeinfo
	</select>
	<sql id="selectbringinfo">
		select
		id,name,orgname,tel,mask  from bringtakeinfo
	</sql>
	<select id="getBringtakeinfo" parameterType="java.util.Map"
		resultType="BringTakeInfo">
		<include refid="selectbringinfo" />
		<if test="name != null and name!=''">
			where name like concat('%', #{name}, '%')
		</if>
		 <if test="pageNow != null and pageSize != null">
		  limit ${pageNow} , ${pageSize}
		 </if>
	</select>

	<select id="getCount" parameterType="java.util.Map" resultType="java.lang.String">
		select count(*) from ${table}
		<if test="where != null and where !=''">
			where ${where}
		</if>
	</select>
	
	<select id="isrepeat" parameterType="java.lang.String"  resultType="java.lang.Integer">
		select count(*) from bringtakeinfo where name=#{addname}
	</select>
	<!-- str_to_date(#{irradtime},'%Y-%m-%d'):#{irradtime}可以为空字符串，相应的出入的是空字符串 -->
	<insert id="addBring" parameterType="BringTakeInfo">
		insert into bringtakeinfo(name,orgname,tel,mask) values(#{name},#{orgname},#{tel},#{mask})	    
	</insert>

	<select id="getOneBring" parameterType="java.util.Map" resultType="BringTakeInfo">
	    <include refid="selectbringinfo" />  where id=#{id} and name=#{name} 
	</select>
	
	<update id="saveEditBring" parameterType="BringTakeInfo">
	    update bringtakeinfo set name=#{name},  orgname=#{orgname}, tel=#{tel},mask=#{mask} where name=#{name}  
	</update>
	
	<delete id="deleteByAttribute" parameterType="java.util.Map" >
	    delete from bringtakeinfo where id=#{id} and name=#{name}  
	</delete>
	
	<insert id="saveBringtakeinfo"  parameterType="BringTakeInfo"   useGeneratedKeys="true" keyProperty="id"  >
	 insert into bringtakeinfo(name,orgname,tel,mask) values(#{name},#{orgname},#{tel},#{mask})
	</insert>
	

</mapper>