<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.product.mapper.ReceivingManaMapper">

	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->

	<!-- date_format(date,'%Y/%m/%d %H:%i:%s') oracle中的to_char(); 
	    str_to_date(date,'%Y-%m-%d') 
		oracle中的to_date(); 
		NOW()函数以`'YYYY-MM-DD HH:MM:SS'返回当前的日期时间，可以直接存到DATETIME字段中。
        CURDATE()以’YYYY-MM-DD’的格式返回今天的日期，可以直接存到DATE字段中。
        CURTIME()以’HH:MM:SS’的格式返回当前的时间，可以直接存到TIME字段中。
        
        <![CDATA[ ]]> 
		-->

    <sql id="selectReceivedCargos">
        select
        a.id,
		date_format(a.receivetime,'%Y-%m-%d') receivetime,
		a.receiveorgid,
		(select orgname from shippinginfo  where id=a.receiveorgid) receiveorgname,
		a.receivepeopleid,
		(select name from bringtakeinfo where id=a.receivepeopleid) receivepeoplename,
		a.telnum,
		a.status
		from receivemgrbase a 
    </sql>

	<insert id="saveReceiveCargoBase"  useGeneratedKeys="true" keyProperty="id" parameterType="ReceiveInfo">
          insert into receivemgrbase(receivetime,receiveorgid,receivepeopleid,telnum,status,userid) values
          (str_to_date(#{receivetime},'%Y-%m-%d'),#{receiveorgid},#{receivepeopleid},#{telnum},'0',#{userid})
	</insert>
	<!-- 默认为0表示未辐照，1表示已确认完毕，2表示已辐照完毕 -->
	<insert id="saveReceiveCargoDetail" parameterType="ReceiveInfo" >
          insert into receivemgrdetail(receivemgrid,cargoid,cargocount,countorg,cargoweight,funguscount,reqreagent,irradtype,irradtime,irradtimeorg,irradflag,irradednum,status)
          values(#{id},#{cargoid},#{cargocount},#{countorg},#{cargoweight},#{funguscount},#{reqreagent},#{irradtype},#{irradtime},#{irradtimeorg},#{irradflag},'0','0')
	</insert>
	
	<select id="isreapeat" parameterType="ReceiveInfo" resultType="ReceiveInfo">
	      select a.receivetime, (select orgname from shippinginfo  where id=a.receiveorgid ) receiveorgid ,
	      (select name from bringtakeinfo where id=a.receivepeopleid) receivepeopleid,
	      (select cargoname from cargoinfo where id=b.cargoid) cargoid
		  from receivemgrbase a,receivemgrdetail b	
		  where a.id=b.receivemgrid and a.status='0'
			  and a.receivetime= str_to_date(#{receivetime},'%Y-%m-%d')
			  and a.receiveorgid=#{receiveorgid} 
			  and a.receivepeopleid=#{receivepeopleid} 
			  and b.cargoid=#{cargoid}
			  <!-- and b.cargocount={cargocount} -->
	</select>
	
	<select id="checkhaveone" parameterType="java.util.Map" resultType="java.lang.String">
	    select id from  receivemgrbase a 
	          where 
	          a.status='0'
              and a.receivetime= str_to_date(#{receivetime},'%Y-%m-%d')
			  and a.receiveorgid=#{receiveorgid}
			  and a.receivepeopleid=#{receivepeopleid} 
	    
	</select>
	<!-- status为0的数据 -->
	<select id="getReceivedCargos" parameterType="java.util.Map" resultType="ReceiveInfo">
		<include refid="selectReceivedCargos" />
	    where 1=1 and a.status='0'
	  <if test="receivetime !=null and receivetime !=''">
		  and a.receivetime= str_to_date(#{receivetime},'%Y-%m-%d')
	  </if>
	  <if test="receiveorgid !=null and receiveorgid !=''">
		  and a.receiveorgid=#{receiveorgid} 
	  </if>
	  <if test="receivepeopleid !=null and receivepeopleid!=''">
		  and a.receivepeopleid=#{receivepeopleid} 
	  </if>
	  <if test="lastdate !=null and lastdate !=''">
		  or TO_DAYS(NOW()) - TO_DAYS(receivetime)&lt;=${lastdate} 
	  </if>
	  
      <!-- 	
      <if test="cargoid != null and cargoid !=''">
		  and b.cargoid=#{cargoid}
	  </if> 
	  -->
	 <if test="pageNow != null and pageSize != null">
	 	   limit ${pageNow} , ${pageSize}
	 </if>
    </select>
	
	<!-- status为1的数据 -->
	<select id="getconfirms" parameterType="java.util.Map" resultType="ReceiveInfo">
        select 
	    id,
		date_format(receivetime,'%Y-%m-%d') receivetime,
		(select orgname from shippinginfo  where id=receiveorgid) receiveorgname,
		(select name from bringtakeinfo where id=receivepeopleid) receivepeoplename,
		telnum,
		status
		from receivemgrbase where 1=1 
		
		<if test="confirmover == 0">
		      and status ='1'
		</if>
		<if test="confirmover == 1">
		      and status in ('1','2')
		</if>
		  <if test="receivetime !=null and receivetime !=''">
			  and receivetime= str_to_date(#{receivetime},'%Y-%m-%d')
		  </if>
		  <if test="receiveorgid !=null and receiveorgid !=''">
			  and receiveorgid=#{receiveorgid} 
		  </if>
		  <if test="receivepeopleid !=null and receivepeopleid!=''">
			  and receivepeopleid=#{receivepeopleid} 
		  </if>
		  <if test="pageNow != null and pageSize != null">
	 	   limit ${pageNow} , ${pageSize}
	 	  </if>
	</select>
	
	<select id="editConfirmBaseInfo" parameterType="java.lang.String" resultType="ReceiveInfo">
	    select 
		    id,
		    date_format(receivetime,'%Y-%m-%d') receivetime,
		    receivepeopleid,
		    receiveorgid,
		    telnum
	    from receivemgrbase 
	    where id=#{id}
	</select>	
	
	<delete id="deleteconfirms" parameterType="java.util.Map">
		delete  from  receivemgrbase    where  id =  ${baseinfoid}
	</delete>
	
	<delete id="deleteconfirmDetail" parameterType="java.util.Map">
		delete  from  receivemgrdetail    where  id = ${detailid}
	</delete>
	
		<delete id="deleteconfirmDetails" parameterType="java.util.Map">
		delete  from  receivemgrdetail    where  id in (${receiveMgrDetailIds})
	</delete>
	
	<select id="getCargoBaseInfoById" parameterType="java.util.Map" resultType="ReceiveInfo">
        select 
	    id,
		date_format(receivetime,'%Y-%m-%d') receivetime,
		(select orgname from shippinginfo  where id=receiveorgid) receiveorgname,
		receivepeopleid,
		(select name from bringtakeinfo where id=receivepeopleid) receivepeoplename,
		telnum
		from receivemgrbase
	    where id=#{receiveorgid}
	</select>
	
	<select id="getDetInfoByReceiveorgId" parameterType="java.util.Map" resultType="ReceiveInfo">
	    select 
	    id,
	    receivemgrid,
	    cargocount,
	    (select cargoname from cargoinfo where id=a.cargoid) cargoname,
	    (select orgname from orginfo where id= a.countorg) countorg,
	    cargoweight,
	    fee,
	    (select di.itemname from dict_group dg ,dict_item di where dg.groupid=di.groupid and  dg.groupid='irradtypes' and di.itemid=a.irradtype) irradtype,
	    irradtime,
	    (select di.itemname from dict_group dg ,dict_item di where dg.groupid=di.groupid and  dg.groupid='timeorgs' and di.itemid= a.irradtimeorg) irradtimeorg,
	    reqreagent,
	    funguscount,
	    (select di.itemname from dict_group dg ,dict_item di where dg.groupid=di.groupid and  dg.groupid='irradflags' and di.itemid= a.irradflag) irradflag,
	    status
	    from receivemgrdetail a
	    where a.receivemgrid=#{receiveorgid}
	</select>
	
	<select id="getEditDetailInfo" parameterType="java.util.Map" resultType="ReceiveInfo">
		select  cargoid,cargocount,cargoweight,countorg,funguscount,reqreagent,irradtype,irradtime,irradtimeorg,irradflag ,fee,mask
		from receivemgrdetail
		where id=#{id} and receivemgrid=#{receiveorgid}
	</select>
	
	<delete id="deleteConfirDetailInfo" parameterType="java.util.Map">
	    delete from receivemgrdetail where id=#{id} and receivemgrid=#{receivemgrid}
	</delete>
	
	<update id="updateConfirmInfo" parameterType="java.util.Map">
	    update receivemgrbase
	    set 
	       receivetime=#{receivecargotime},
	       receivepeopleid=#{bringpeople},
	       receiveorgid=#{bringorg},
	       telnum=#{bringcargopeopletel}
	    where id=#{id}   
	       
	</update>
	
	<update id="saveEditConfirDetailInfo" parameterType="ReceiveInfo">
	    update receivemgrdetail 
	    set 
		    cargoid=#{cargoid},
		    cargocount=#{cargocount},
		    cargoweight=#{cargoweight},
		    countorg=#{countorg},
		    funguscount=#{funguscount},
		    reqreagent=#{reqreagent},
		    irradtype=#{irradtype},
		    irradtime=#{irradtime},
		    irradtimeorg=#{irradtimeorg},
		    irradflag=#{irradflag},
		    fee = #{fee},
		    unpaid = #{fee},
		    mask=#{mask}
	    where  id=#{id} and receivemgrid=#{receivemgrid}
	</update>
	
	<update id="updateBaseStatus" parameterType="java.lang.String">
	    update receivemgrbase set status=#{status} where id=#{id}
	</update>
	
	<update id="updateDetailStatus" parameterType="java.lang.String">
	    update receivemgrdetail set status=#{status} where receivemgrid=#{id}
	</update>
	<!--begin 校正SQL -->
	<select id="queryReciveDetailIdByBaseId" parameterType="java.lang.String" resultType="java.lang.String">
	    select GROUP_CONCAT(CAST(id AS char)) from receivemgrdetail where receivemgrid=#{id}
	</select>
	
	<select id="queryIrradationIdsByBaseAndDetailID" parameterType="java.util.Map" resultType="java.lang.String">
	    select GROUP_CONCAT(CAST(id AS char)) from irradiation where baseid=${receivemgrbaseId} and detailid in (${receiveMgrDetailIds})
	</select>
	
	<delete id="deleteIrradationIdsByBaseAndDetailID" parameterType="java.util.Map">
	    delete   from irradiation where  baseid=${receivemgrbaseId} and detailid in (${receiveMgrDetailIds})
	</delete>
	<delete id="deleteTakecargodetailByIrradedId" parameterType="java.lang.String">
	   delete  from takecargodetail where irradedid in (${irradationIds})     
	</delete>
	
	<update id="updateReceivemgrDetailirradednum" parameterType="java.util.Map" >
	    update receivemgrdetail
	    set 
	       irradednum=0
	    where id in (${receiveMgrDetailIds})
	</update>
	
	<!-- end 校正SQL -->
	<!-- status为2的数据 ，在收获确认阶段将状态改为2-->
	<select id="getradiations" parameterType="java.util.Map" resultType="ReceiveInfo">
	    select 
	    t2.id,
	    t2.receivemgrid,
	    t1.receiveorgid,
	    (select orgname from shippinginfo  where id=t1.receiveorgid) receiveorgname,
	    t1.receivetime,
	    (select cargoname from cargoinfo where id=t2.cargoid) cargoname,
	    t2.cargocount,
	    t2.irradednum,
	    (select orgname from orginfo where id= t2.countorg) countorg,
	    t2.cargoweight,
	    (select di.itemname from dict_group dg ,dict_item di where dg.groupid=di.groupid and  dg.groupid='irradtypes' and di.itemid=t2.irradtype) irradtype,
	    t2.irradtime,
	    (select di.itemname from dict_group dg ,dict_item di where dg.groupid=di.groupid and  dg.groupid='timeorgs' and di.itemid= t2.irradtimeorg) irradtimeorg,
	    reqreagent,
	    funguscount
	    from receivemgrbase t1, receivemgrdetail t2 where  t1.id=t2.receivemgrid and t2.irradednum &lt; t2.cargocount and t2.status='2' and  t2.fee!=0
		  <if test="receivetime !=null and receivetime !=''">
			  and t1.receivetime= str_to_date(#{receivetime},'%Y-%m-%d')
		  </if>
		  <if test="receiveorgid !=null and receiveorgid !=''">
			  and t1.receiveorgid=#{receiveorgid} 
		  </if>
		  <if test="cargoid !=null and cargoid != ''">
			  and t2.cargoid=#{cargoid}
		  </if>
		  <if test="pageNow != null and pageSize != null">
	 	   limit ${pageNow} , ${pageSize}
	 	  </if>
	</select>
	
	<select id="getRadiationInfo" parameterType="java.lang.String" resultType="ReceiveInfo">
		select
		 (select id from  shippinginfo where id = (select receiveorgid from receivemgrbase a where a.id=t.receivemgrid)) receiveorgid ,
		 t.cargoid,
		 (select cargoname from cargoinfo where id= t.cargoid) cargoname, 
		 t.cargocount,
		 t.countorg,
		 t.cargoweight,
		 t.irradtype,
		 t.irradtime,
		 t.irradtimeorg
		from receivemgrdetail t
		where id=#{id}    
	</select>
	
	<update id="updateReceivedDetailIrradednum" parameterType="RadiationInfo">
	    update receivemgrdetail set irradednum= irradednum + #{irradednum} where id=#{detailid}
	</update>
	
	<!-- 新增的时候状态默认为0，辐照完毕时，改为1 -->
	<insert id="setRadiation" parameterType="RadiationInfo">
		insert into irradiation
		    (detailid,baseid,receiveorgid,cargoname,irradednum,countorg,cargoweight,irradtype,irradtime,timeorg,position,doirraddate,starttime,takecargocount,status,mask) 
		values
			(#{detailid},#{baseid},#{receiveorgid},#{cargoname},#{irradednum},#{countorg},#{cargoweight},#{irradtype},#{irradtime},#{timeorg},#{position},NOW(),CURDATE(),'0','0',#{mask}
			)	    
	</insert>
	
	<!-- 状态为0的，辐照完毕置1 -->
	<select id="queryAllCurrentRadiations" parameterType="RadiationInfo" resultType="RadiationInfo">
	    select 
	    id,
	    cargoname,
	    (select orgname from shippinginfo where id= t.receiveorgid)  receiveorgname,
	    irradednum,
	    (select orgname from orginfo  where id=t.countorg)  countorg,
	    cargoweight,
	    position,
	    (select di.itemname from dict_group dg ,dict_item di where dg.groupid=di.groupid and  dg.groupid='irradtypes' and di.itemid=t.irradtype)  irradtype,
	    starttime,
	    irradtime,
	    (select di.itemname from dict_group dg ,dict_item di where dg.groupid=di.groupid and  dg.groupid='timeorgs' and di.itemid= t.timeorg) timeorg
	    from irradiation t where t.status = '0'
	</select>
	
	<update id="updateRadiationStatus" parameterType="java.lang.String">
	    update irradiation set status='1' where id=#{id}
	</update>
	
	<select id="getAllTakeCargoes" parameterType="java.util.Map" resultType="RadiationInfo">
	    select 
	    id, 
	     (select orgname from shippinginfo where id= t.receiveorgid)  receiveorgname,
	    cargoname, 
	    irradednum,
	    takecargocount ,
	    countorg,
	    cargoweight 
	     from irradiation t
	     where 1=1 and t.status = '1' and   takecargocount &lt; irradednum 
		  <if test="receiveorgid !=null and receiveorgid !=''">
			  and t.receiveorgid=#{receiveorgid} 
		  </if>
		  <if test="cargoid !=null and cargoid != ''">
			  and t.cargoid=#{cargoid}
		  </if>
		  <if test="pageNow != null and pageSize != null">
	 	   limit ${pageNow} , ${pageSize}
	 	  </if>
	</select>
	
	<update id="updateHaveTakeCargoCount" parameterType="TakeCargoInfo">
			update 	irradiation set takecargocount= takecargocount + #{cargocount}   where id=#{irradaedcargoid}
	</update>
	
	<!-- 一天当中同一个公司取走不同的货物，在这一天当中撒算到这个公司的头上 -->
	<select id="doRepeatTakeCargo" parameterType="TakeCargoInfo" resultType="java.lang.Integer">
	    select id from takecargobase
	    where 
	    taketime=str_to_date(#{taketime},'%Y-%m-%d') 
	    and takecargoorg= #{takecargoorg}
	    and proxyorg= #{proxyorg}
	</select>
	
	<insert id="saveTakeCargoBase" useGeneratedKeys="true" keyProperty="baseid" parameterType="TakeCargoInfo">
	    insert into takecargobase (taketime,takecargoorg,proxyorg,takecargopeople,telnum,shippers,status)
	    values(str_to_date(#{taketime},'%Y-%m-%d'),#{takecargoorg},#{proxyorg},#{takecargopeople},#{telnum},#{shippers},'0')
	</insert>
	
	<insert id="saveTakeCargoDetail">
	    insert into takecargodetail(baseid,irradedid,cargoname,cargocount,countorg,weight)
	    values(#{baseid},#{irradaedcargoid},#{cargoname},#{cargocount},#{countorg},#{weight})
	</insert>
	
	<select id="getHaveTakedCargoes" parameterType="java.util.Map" resultType="TakeCargoInfo">
	    select
	    t.id,
	    date_format(t.taketime,'%Y-%m-%d') taketime,
	    (select orgname from shippinginfo where id= t.takecargoorg) takecargoorg, 
	    t.proxyorg,
	    t.takecargopeople takecargopeopleid,
	    (select name from bringtakeinfo where id=t.takecargopeople) takecargopeople,
	    t.telnum,
	    t.shippers
	    from  
	    takecargobase t
	    where 1=1 and t.status='0'
	    <if test="takecargotime !=null and takecargotime!=''">
	    and t.taketime= str_to_date(#{takecargotime},'%Y-%m-%d')
	    </if>
	    <if test="showorgsoftaked!=null and showorgsoftaked!=''">
	    and t.takecargoorg= #{showorgsoftaked}
	    </if>
	    <if test="pageNow != null and pageSize != null">
	 	   limit ${pageNow} , ${pageSize}
	 	</if>
	</select>
	
	<select id="getHaveTakedCargoById" parameterType="java.util.Map" resultType="TakeCargoInfo">
	    select 
	    	date_format(t.taketime,'%Y-%m-%d') taketime,
	   	 	(select orgname from shippinginfo where id= t.takecargoorg) takecargoorg,
	    	t.proxyorg,
	     	(select name from bringtakeinfo where id=t.takecargopeople) takecargopeople,
	     	t.telnum
	     from  takecargobase t 
	     where t.id=#{id}
	</select>
	
	<select id="queryHaveTakedCargoeDetailByBaseId" parameterType="java.lang.String" resultType="TakeCargoInfo">
	    select 
	    cargoname,
	    cargocount,
	    countorg,
	    weight
	    from takecargodetail
	    where baseid=#{id}
	</select>
	
	<select id="getReceivedCargoInfo" parameterType="java.lang.String" resultType="ReceiveInfo">
	    select 
		date_format((select receivetime from receivemgrbase where id= t.baseid),'%Y/%m/%d')  receivetime,
		cargoname,
		(select orgname from  shippinginfo where id=t.receiveorgid) receiveorgname,
		irradednum,
		countorg,
		takecargocount cargoweight,
		mask
		from irradiation t where id=#{id}
	</select>
	
	<update id="updateTakedCargoBaseInfoStatus" parameterType="java.lang.String" >
	    update takecargobase
	    set status='1'
	    where id=#{id}
	</update>
	
</mapper>